.clearfix:before, .clearfix:after { display: none; content: " "; display: table }

.clearfix:after { clear: both }

.clearfix { *zoom: 1 }

.full-width { width: 100%; box-sizing: border-box }

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
}

.container, .container-fluid {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
	display: block;
}

.wrapper {
	height: 100%;
	position: relative;
	/* habilita o flex nos filhos diretos */
	display: -webkit-flex;
	   display: -moz-flex;
		display: -ms-flex;
		 display: -o-flex;
			display: flex;
	/* centraliza na vertical */
	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
		 -o-align-items: center;
			align-items: center;
	/* centraliza na horizontal */
	-webkit-justify-content: center;
	   -moz-justify-content: center;
		-ms-justify-content: center;
		 -o-justify-content: center;
			justify-content: center
}

/* CONFIG
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 30em) {
	.row {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;
		zoom: 1; /* For IE 6/7 */
		display: table;
		table-layout: fixed
	}

	.col {
		display: table-cell;
		min-height: 3em;
		vertical-align: middle;
		/* line-height: 4em; */
		clear: none;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			 -o-box-sizing: border-box;
				box-sizing: border-box
	}
}

	.row > * {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			 -o-box-sizing: border-box;
				box-sizing: border-box
	}

	.row, div {
		-webkit-flex-direction: initial;
		   -moz-flex-direction: initial;
			-ms-flex-direction: initial;
			 -o-flex-direction: initial;
				flex-direction: initial;
		-webkit-flex-wrap: initial;
		   -moz-flex-wrap: initial;
			-ms-flex-wrap: initial;
			 -o-flex-wrap: initial;
				flex-wrap: initial;
		-webkit-justify-content: initial;
		   -moz-justify-content: initial;
			-ms-justify-content: initial;
			 -o-justify-content: initial;
				justify-content: initial;
		-webkit-align-content: initial;
		   -moz-align-content: initial;
			-ms-align-content: initial;
			 -o-align-content: initial;
				align-content: initial;
		-webkit-align-items: initial;
		   -moz-align-items: initial;
			-ms-align-items: initial;
			 -o-align-items: initial;
				align-items: initial;
		-webkit-column-count: auto;
		   -moz-column-count: auto;
			-ms-column-count: auto;
			 -o-column-count: auto;
				column-count: auto
	}

.md-16 	{ width: 100% 		}
.md-15 	{ width: 93.75% 	}
.md-14 	{ width: 87.5% 		}
.md-13 	{ width: 81.25% 	}
.md-12 	{ width: 75% 		}
.md-11 	{ width: 68.75% 	}
.md-10 	{ width: 62.5% 		}
.md-9 	{ width: 56.25% 	}
.md-8 	{ width: 50% 		} 
.md-7 	{ width: 43.75% 	}
.md-6 	{ width: 37.5% 		} 
.md-5 	{ width: 31.25% 	}
.md-4 	{ width: 25% 		}
.md-3 	{ width: 18.75% 	}
.md-2 	{ width: 12.5% 		}
.md-1 	{ width: 6.25% 		}

header.row, nav.row, header.float-icon, nav.float-icon { margin: 0 }

.float-icon {
	width: 100%;
	background-color: #EEEEEE;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
		-ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
		 -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
	padding: 20px 30px
}

.float-icon:before,.float-icon:after { display: none; content: " "; display: table }
.float-icon:after { clear: both }

.col-icon {
	position: relative;
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 33.33333333333333%
}

.col-duoicon {
	position: relative;
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 50%
}

.media, .media-body { overflow: hidden; zoom: 1 }
.media-heading { margin:0 0 5px }
.media, .media .media { margin-top: 15px }
.media:first-child { margin-top: 0 }

.media > .pull-left { margin-right: 10px }
.media > .pull-right { margin-left: 10px }

.pull-right{ float: right !important }
.pull-left{ width: auto; float: left !important }

/* DESKTOP RETINA HD
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1920px) {
	body, input, select, textarea { font-size: 12pt }

	body:before { /* content: "Full HD" */ }
	body .container { width: 1862px }

	/* 18,62 x 100% */
	.md-16 	{ width: 1862px 	} /* 100% */ 
	.md-15 	{ width: 1745.625px } /* 93.75% */ 
	.md-14 	{ width: 1629.25px 	} /* 87.5% */ 
	.md-13 	{ width: 1512.875px } /* 81.25% */ 
	.md-12 	{ width: 1396.5px 	} /* 75% */ 
	.md-11 	{ width: 1280.125px } /* 68.75% */ 
	.md-10 	{ width: 1163.75px 	} /* 62.5% */ 
	.md-9 	{ width: 1047.375px } /* 56.25% */ 
	.md-8 	{ width: 931px 		} /* 50% */ 
	.md-7 	{ width: 814.625px 	} /* 43.75% */ 
	.md-6 	{ width: 698.25px 	} /* 37.5% */ 
	.md-5 	{ width: 581.875px 	} /* 31.25% */ 
	.md-4 	{ width: 465.5px 	} /* 25% */ 
	.md-3 	{ width: 349.125px 	} /* 18.75% */ 
	.md-2 	{ width: 232.75px 	} /* 12.5% */ 
	.md-1 	{ width: 116.375px 	} /* 6.25% */

}

/* DESKTOP RETINA HD
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1600px) {
	body, input, select, textarea { font-size: 11pt }

	body:before { /* content: "Desktop Retina HD" */ }
	body .container { width: 1542px }

	/* 15,42 x 100% */
	.md-16 	{ width: 1542px 	} /* 100% */ 
	.md-15 	{ width: 1445.625px } /* 93.75% */ 
	.md-14 	{ width: 1349.25px 	} /* 87.5% */ 
	.md-13 	{ width: 1252.875px } /* 81.25% */ 
	.md-12 	{ width: 1156.5px 	} /* 75% */ 
	.md-11 	{ width: 1060.125px } /* 68.75% */ 
	.md-10 	{ width: 963.75px 	} /* 62.5% */ 
	.md-9 	{ width: 867.375px 	} /* 56.25% */ 
	.md-8 	{ width: 771px 		} /* 50% */ 
	.md-7 	{ width: 674.625px 	} /* 43.75% */ 
	.md-6 	{ width: 578.25px 	} /* 37.5% */ 
	.md-5 	{ width: 481.875px 	} /* 31.25% */ 
	.md-4 	{ width: 385.5px 	} /* 25% */ 
	.md-3 	{ width: 289.125px 	} /* 18.75% */ 
	.md-2 	{ width: 192.75px 	} /* 12.5% */ 
	.md-1 	{ width: 96.375px 	} /* 6.25% */

	header .img { width: 30em; height: 30em; }
}

@media screen and (max-width: 1440px) {
	body .container { width: 1382px }

	/* 13,82 x 100% */
	.md-16 	{ width: 1382px 	} /* 100% */ 
	.md-15 	{ width: 1295.625px } /* 93.75% */ 
	.md-14 	{ width: 1209.25px 	} /* 87.5% */ 
	.md-13 	{ width: 1122.875px } /* 81.25% */ 
	.md-12 	{ width: 1036.5px 	} /* 75% */ 
	.md-11 	{ width: 950.125px 	} /* 68.75% */ 
	.md-10 	{ width: 863.75px 	} /* 62.5% */ 
	.md-9 	{ width: 777.375px 	} /* 56.25% */ 
	.md-8 	{ width: 691px 		} /* 50% */ 
	.md-7 	{ width: 604.625px 	} /* 43.75% */ 
	.md-6 	{ width: 518.25px 	} /* 37.5% */ 
	.md-5 	{ width: 431.875px 	} /* 31.25% */ 
	.md-4 	{ width: 345.5px 	} /* 25% */ 
	.md-3 	{ width: 259.125px 	} /* 18.75% */ 
	.md-2 	{ width: 172.75px 	} /* 12.5% */ 
	.md-1 	{ width: 86.375px 	} /* 6.25% */ 
}

/* DESKTOP
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1366px) {
	body:before { /* content: "Desktop Notebook" */ }
	body .container { width: 1325px }

	/* 13,25 x 100% */
	.md-16 	{ width: 1325px 		} /* 100% */
	.md-15 	{ width: 1242.1875px 	} /* 93.75% */
	.md-14 	{ width: 1159.375px 	} /* 87.5% */
	.md-13 	{ width: 1076.5625px 	} /* 81.25% */
	.md-12 	{ width: 993.75px 		} /* 75% */
	.md-11 	{ width: 910.9375px 	} /* 68.75% */
	.md-10 	{ width: 828.125px 		} /* 62.5% */
	.md-9 	{ width: 745.3125px 	} /* 56.25% */
	.md-8 	{ width: 662.5px 		} /* 50% */ 
	.md-7 	{ width: 579.6875px 	} /* 43.75% */
	.md-6 	{ width: 496.875px 		} /* 37.5% */ 
	.md-5 	{ width: 414.0625px 	} /* 31.25% */
	.md-4 	{ width: 331.25px 		} /* 25% */
	.md-3 	{ width: 248.4375px 	} /* 18.75% */
	.md-2 	{ width: 165.625px 		} /* 12.5% */
	.md-1 	{ width: 82.8125px 		} /* 6.25% */
}

@media screen and (max-width: 1360px) {
	body .container { width: 1302px }

	/* 13,6 x 100% */
	.md-16 	{ width: 1302px 	} /* 100% */ 
	.md-15 	{ width: 1220.625px } /* 93.75% */ 
	.md-14 	{ width: 1139.25px 	} /* 87.5% */ 
	.md-13 	{ width: 1057.875px } /* 81.25% */ 
	.md-12 	{ width: 976.5px 	} /* 75% */ 
	.md-11 	{ width: 895.125px 	} /* 68.75% */ 
	.md-10 	{ width: 813.75px 	} /* 62.5% */ 
	.md-9 	{ width: 732.375px 	} /* 56.25% */ 
	.md-8 	{ width: 651px 		} /* 50% */ 
	.md-7 	{ width: 569.625px 	} /* 43.75% */ 
	.md-6 	{ width: 488.25px 	} /* 37.5% */ 
	.md-5 	{ width: 406.875px 	} /* 31.25% */ 
	.md-4 	{ width: 325.5px 	} /* 25% */ 
	.md-3 	{ width: 244.125px 	} /* 18.75% */ 
	.md-2 	{ width: 162.75px 	} /* 12.5% */ 
	.md-1 	{ width: 81.375px 	} /* 6.25% */ 
}

@media screen and (max-width: 1280px) {
	body:before { /* content: "Desktop" */ }
	body .container { width: 1222px }

	/* 12,22 x 100% */
	.md-16 	{ width: 1222px 		} /* 100% */
	.md-15 	{ width: 1145.625px 	} /* 93.75% */
	.md-14 	{ width: 1069.25px 		} /* 87.5% */
	.md-13 	{ width: 992.875px 		} /* 81.25% */
	.md-12 	{ width: 916.5px 		} /* 75% */
	.md-11 	{ width: 840.125px 		} /* 68.75% */
	.md-10 	{ width: 763.75px 		} /* 62.5% */
	.md-9 	{ width: 687.375px 		} /* 56.25% */
	.md-8 	{ width: 611px 			} /* 50% */ 
	.md-7 	{ width: 534.625px 		} /* 43.75% */
	.md-6 	{ width: 458.25px 		} /* 37.5% */ 
	.md-5 	{ width: 381.875px 		} /* 31.25% */
	.md-4 	{ width: 305.5px 		} /* 25% */
	.md-3 	{ width: 229.125px 		} /* 18.75% */
	.md-2 	{ width: 152.75px 		} /* 12.5% */
	.md-1 	{ width: 76.375px 		} /* 6.25% */
}

@media screen and (max-width: 1152px) {
	body .container { width: 1094px }

	/* 10,94 x 100% */
	.md-16 	{ width: 1094px 	} /* 100% */ 
	.md-15 	{ width: 1025.625px } /* 93.75% */ 
	.md-14 	{ width: 957.25px 	} /* 87.5% */ 
	.md-13 	{ width: 888.875px 	} /* 81.25% */ 
	.md-12 	{ width: 820.5px 	} /* 75% */ 
	.md-11 	{ width: 752.125px 	} /* 68.75% */ 
	.md-10 	{ width: 683.75px 	} /* 62.5% */ 
	.md-9 	{ width: 615.375px 	} /* 56.25% */ 
	.md-8 	{ width: 547px 		} /* 50% */ 
	.md-7 	{ width: 478.625px 	} /* 43.75% */ 
	.md-6 	{ width: 410.25px 	} /* 37.5% */ 
	.md-5 	{ width: 341.875px 	} /* 31.25% */ 
	.md-4 	{ width: 273.5px 	} /* 25% */ 
	.md-3 	{ width: 205.125px 	} /* 18.75% */ 
	.md-2 	{ width: 136.75px 	} /* 12.5% */ 
	.md-1 	{ width: 68.375px 	} /* 6.25% */ 
}

@media screen and (max-width: 1024px) {
	body:before { /* content: "Desktop PC" */ }
	body .container { width: 966px }

	/* 9,66 x 100% */
	.md-16 	{ width: 966px 			} /* 100% */
	.md-15 	{ width: 905.625px 		} /* 93.75% */
	.md-14 	{ width: 845.25px 		} /* 87.5% */
	.md-13 	{ width: 784.875px 		} /* 81.25% */
	.md-12 	{ width: 724.5px 		} /* 75% */
	.md-11 	{ width: 664.125px 		} /* 68.75% */
	.md-10 	{ width: 603.75px 		} /* 62.5% */
	.md-9 	{ width: 543.375px 		} /* 56.25% */
	.md-8 	{ width: 483px 			} /* 50% */ 
	.md-7 	{ width: 422.625px 		} /* 43.75% */
	.md-6 	{ width: 362.25px 		} /* 37.5% */ 
	.md-5 	{ width: 301.875px 		} /* 31.25% */
	.md-4 	{ width: 241.5px 		} /* 25% */
	.md-3 	{ width: 181.125px 		} /* 18.75% */
	.md-2 	{ width: 120.75px 		} /* 12.5% */
	.md-1 	{ width: 60.375px 		} /* 6.25% */

	.col-icon { width: 50% }

	.col-icon:nth-child(3) { width: 100% }

	.image.phone { width: 15em }

	.image.phone img { height: 15em }

	.float-label .control.small, .float-label .control.medium,
	.float-label .control.med, .float-label .control.med3 { width: 100% }

	button, *[role="button"], input[type="button"], input[type="submit"] { margin: 0 }
}

/* TABLET
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 980px) and (orientation: landscape) {
	body:before { /* content: "Tablet Desktop Horizontal" */ }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
	body:before { /* content: "Tablet Desktop Vertical" */ }
}

@media screen and (max-width: 980px) {
	body .container { width: 922px }

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br { display: none }

	/* 9,22 x 100% */
	.md-16 	{ width: 922px 		} /* 100% */
	.md-15 	{ width: 864.375px 	} /* 93.75% */
	.md-14 	{ width: 806.75px 	} /* 87.5% */
	.md-13 	{ width: 749.125px 	} /* 81.25% */
	.md-12 	{ width: 691.5px 	} /* 75% */
	.md-11 	{ width: 633.875px 	} /* 68.75% */
	.md-10 	{ width: 576.25px 	} /* 62.5% */
	.md-9 	{ width: 518.625px 	} /* 56.25% */
	.md-8 	{ width: 461px 		} /* 50% */ 
	.md-7 	{ width: 403.375px 	} /* 43.75% */
	.md-6 	{ width: 345.75px 	} /* 37.5% */ 
	.md-5 	{ width: 288.125px 	} /* 31.25% */
	.md-4 	{ width: 230.5px 	} /* 25% */
	.md-3 	{ width: 172.875px 	} /* 18.75% */
	.md-2 	{ width: 115.25px 	} /* 12.5% */
	.md-1 	{ width: 57.625px 	} /* 6.25% */
}

@media screen and (max-width: 960px) {
	body .container { width: 902px }

	/* 9,02 x 100% */
	.md-16 	{ width: 902px 		} /* 100% */ 
	.md-15 	{ width: 845.625px 	} /* 93.75% */ 
	.md-14 	{ width: 789.25px 	} /* 87.5% */ 
	.md-13 	{ width: 732.875px 	} /* 81.25% */ 
	.md-12 	{ width: 676.5px 	} /* 75% */ 
	.md-11 	{ width: 620.125px 	} /* 68.75% */ 
	.md-10 	{ width: 563.75px 	} /* 62.5% */ 
	.md-9 	{ width: 507.375px 	} /* 56.25% */ 
	.md-8 	{ width: 451px 		} /* 50% */ 
	.md-7 	{ width: 394.625px 	} /* 43.75% */ 
	.md-6 	{ width: 338.25px 	} /* 37.5% */ 
	.md-5 	{ width: 281.875px 	} /* 31.25% */ 
	.md-4 	{ width: 225.5px 	} /* 25% */ 
	.md-3 	{ width: 169.125px 	} /* 18.75% */ 
	.md-2 	{ width: 112.75px 	} /* 12.5% */ 
	.md-1 	{ width: 56.375px 	} /* 6.25% */

	.img { width: 20em; height: 20em; }
}

@media screen and (max-width: 900px) {
	body .container { width: 842px }

	/* 8,42 x 100% */
	.md-16 	{ width: 842px 		} /* 100% */ 
	.md-15 	{ width: 789.375px 	} /* 93.75% */ 
	.md-14 	{ width: 736.75px 	} /* 87.5% */ 
	.md-13 	{ width: 684.125px 	} /* 81.25% */ 
	.md-12 	{ width: 631.5px 	} /* 75% */ 
	.md-11 	{ width: 578.875px 	} /* 68.75% */ 
	.md-10 	{ width: 526.25px 	} /* 62.5% */ 
	.md-9 	{ width: 473.625px 	} /* 56.25% */ 
	.md-8 	{ width: 421px 		} /* 50% */ 
	.md-7 	{ width: 368.375px 	} /* 43.75% */ 
	.md-6 	{ width: 315.75px 	} /* 37.5% */ 
	.md-5 	{ width: 263.125px 	} /* 31.25% */ 
	.md-4 	{ width: 210.5px 	} /* 25% */ 
	.md-3 	{ width: 157.875px 	} /* 18.75% */ 
	.md-2 	{ width: 105.25px 	} /* 12.5% */ 
	.md-1 	{ width: 52.625px 	} /* 6.25% */

	header .img { width: 30em; height: 30em; }
}

@media screen and (max-width: 864px) {
	body .container { width: 806px }

	/* 8,06 x 100% */
	.md-16 	{ width: 806px 		} /* 100% */ 
	.md-15 	{ width: 755.625px 	} /* 93.75% */ 
	.md-14 	{ width: 705.25px 	} /* 87.5% */ 
	.md-13 	{ width: 654.875px 	} /* 81.25% */ 
	.md-12 	{ width: 604.5px 	} /* 75% */ 
	.md-11 	{ width: 554.125px 	} /* 68.75% */ 
	.md-10 	{ width: 503.75px 	} /* 62.5% */ 
	.md-9 	{ width: 453.375px 	} /* 56.25% */ 
	.md-8 	{ width: 403px 		} /* 50% */ 
	.md-7 	{ width: 352.625px 	} /* 43.75% */ 
	.md-6 	{ width: 302.25px 	} /* 37.5% */ 
	.md-5 	{ width: 251.875px 	} /* 31.25% */ 
	.md-4 	{ width: 201.5px 	} /* 25% */ 
	.md-3 	{ width: 151.125px 	} /* 18.75% */ 
	.md-2 	{ width: 100.75px 	} /* 12.5% */ 
	.md-1 	{ width: 50.375px 	} /* 6.25% */

	header .img { width: 27em; height: 27em; }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	body:before { /* content: "Tablet Horizontal" */ }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
	body:before { /* content: "Tablet Vertical" */ }
}

@media screen and (max-width: 800px) {
	body .container { width: 742px }

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br { display: none }

	/* 7,42 x 100% */
	.md-16 	{ width: 742px 		} /* 100% */
	.md-15 	{ width: 695.625px 	} /* 93.75% */
	.md-14 	{ width: 649.25px 	} /* 87.5% */
	.md-13 	{ width: 602.875px 	} /* 81.25% */
	.md-12 	{ width: 556.5px 	} /* 75% */
	.md-11 	{ width: 510.125px 	} /* 68.75% */
	.md-10 	{ width: 463.75px 	} /* 62.5% */
	.md-9 	{ width: 417.375px 	} /* 56.25% */
	.md-8 	{ width: 371px 		} /* 50% */ 
	.md-7 	{ width: 324.625px 	} /* 43.75% */
	.md-6 	{ width: 278.25px 	} /* 37.5% */ 
	.md-5 	{ width: 231.875px 	} /* 31.25% */
	.md-4 	{ width: 185.5px 	} /* 25% */
	.md-3 	{ width: 139.125px 	} /* 18.75% */
	.md-2 	{ width: 92.75px 	} /* 12.5% */
	.md-1 	{ width: 46.375px 	} /* 6.25% */

	header .img { width: 24em; height: 24em; }

	.image.phone { width: 10em }

	.image.phone img { height: 10em }
}

/* PHABLET
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 768px) and (orientation: landscape) {
	body:before { /* content: "Phablet HD Horizontal" */ }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	body:before { /* content: "Phablet HD Vertical" */ }
}

@media screen and (max-width: 768px) {
	body .container { width: 710px }

	header p br { display: none }

	/* 7,1 x 100% */
	.md-16 	{ width: 710px 		} /* 100% */
	.md-15 	{ width: 665.625px 	} /* 93.75% */
	.md-14 	{ width: 621.25px 	} /* 87.5% */
	.md-13 	{ width: 576.875px 	} /* 81.25% */
	.md-12 	{ width: 532.5px 	} /* 75% */
	.md-11 	{ width: 488.125px 	} /* 68.75% */
	.md-10 	{ width: 443.75px 	} /* 62.5% */
	.md-9 	{ width: 399.375px 	} /* 56.25% */
	.md-8 	{ width: 355px 		} /* 50% */
	.md-7 	{ width: 310.625px 	} /* 43.75% */
	.md-6 	{ width: 266.25px 	} /* 37.5% */
	.md-5 	{ width: 221.875px 	} /* 31.25% */
	.md-4 	{ width: 177.5px 	} /* 25% */
	.md-3 	{ width: 133.125px 	} /* 18.75% */
	.md-2 	{ width: 88.75px 	} /* 12.5% */
	.md-1 	{ width: 44.375px 	} /* 6.25% */

	#navleft { width: 100% }

	#responsive-nav + label { padding: 22px; font-size: 24px }

	.col-duoicon { width: 100% }

	button, *[role="button"], input[type="button"], input[type="submit"] {
		width: 100%;
		margin: 0
	}
}

@media screen and (max-width: 720px) and (orientation: landscape) {
	body:before { /* content: "Phablet Netbook Horizontal" */ }
}

@media screen and (max-width: 720px) and (orientation: portrait) {
	body:before { /* content: "Phablet Netbook Vertical" */ }
}

@media screen and (max-width: 720px) {
	body .container { width: 662px }

	/* 6,62 x 100% */
	.md-16 	{ width: 662px 		} /* 100% */
	.md-15 	{ width: 620.625px 	} /* 93.75% */
	.md-14 	{ width: 579.25px 	} /* 87.5% */
	.md-13 	{ width: 537.875px 	} /* 81.25% */
	.md-12 	{ width: 496.5px 	} /* 75% */
	.md-11 	{ width: 455.125px 	} /* 68.75% */
	.md-10 	{ width: 413.75px 	} /* 62.5% */
	.md-9 	{ width: 372.375px 	} /* 56.25% */
	.md-8 	{ width: 331px 		} /* 50% */
	.md-7 	{ width: 289.625px 	} /* 43.75% */
	.md-6 	{ width: 248.25px 	} /* 37.5% */
	.md-5 	{ width: 206.875px 	} /* 31.25% */
	.md-4 	{ width: 165.5px 	} /* 25% */
	.md-3 	{ width: 124.125px 	} /* 18.75% */
	.md-2 	{ width: 82.75px 	} /* 12.5% */
	.md-1 	{ width: 41.375px 	} /* 6.25% */ 

	.col-icon { width: 100% }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
	body:before { /* content: "Phablet Horizontal" */ }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
	body:before { /* content: "Phablet Vertical" */ }
}

@media screen and (max-width: 600px) {
	body .container { width: 542px }

	/* 5,42 x 100% */
	.md-16 	{ width: 542px 		} /* 100% */ 
	.md-15 	{ width: 508.125px 	} /* 93.75% */ 
	.md-14 	{ width: 474.25px 	} /* 87.5% */ 
	.md-13 	{ width: 440.375px 	} /* 81.25% */ 
	.md-12 	{ width: 406.5px 	} /* 75% */ 
	.md-11 	{ width: 372.625px 	} /* 68.75% */ 
	.md-10 	{ width: 338.75px 	} /* 62.5% */ 
	.md-9 	{ width: 304.875px 	} /* 56.25% */ 
	.md-8 	{ width: 271px 		} /* 50% */ 
	.md-7 	{ width: 237.125px 	} /* 43.75% */ 
	.md-6 	{ width: 203.25px 	} /* 37.5% */ 
	.md-5 	{ width: 169.375px 	} /* 31.25% */ 
	.md-4 	{ width: 135.5px 	} /* 25% */ 
	.md-3 	{ width: 101.625px 	} /* 18.75% */ 
	.md-2 	{ width: 67.75px 	} /* 12.5% */ 
	.md-1 	{ width: 33.875px 	} /* 6.25% */

	.image.phone { width: 8em }

	.image.phone img { height: 8em }
}

/* SMARTPHONE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 480px) and (orientation: portrait) {
	body:before { /* content: "Smartphone Vertical" */ }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
	body:before { /* content: "Smartphone Horizontal" */ }
}

@media screen and (max-width: 480px) {
	body .container { width: 479px; padding-right: 0; padding-left: 0 }

	body, input, select, textarea { font-size: 10pt; line-height: 1.75 }

	h1 { font-size: 5.0rem } h2 { font-size: 4.2rem } h3 { font-size: 3.6rem }
	h4 { font-size: 3.0rem } h5 { font-size: 2.4rem } h6 { font-size: 1.5rem }

	body header [class*='md-'] { text-align: center; margin: 0 auto }

	.col-icon { width: 100% }

	.nav, .drop { 
		position: relative; 
		height: auto;
		-webkit-justify-content: center;
		   -moz-justify-content: center;
			-ms-justify-content: center;
			 -o-justify-content: center;
				justify-content: center;
		text-align: center
	}

	.nav > li { float: none; width: 100% }

	.nav a { line-height: 40px }

	.nav ul { position: relative }

	.drop { display: inline-block }

	.drop ul { top: 100% }

	.drop:hover .drop ul { display: block }

	.image.phone { width: 15em }

	.image.phone img { height: 15em }

	.list li > h1, .list li > h2, .list li > h3, .list li > h4, .list li > h5, .list li > h6,
	.list > h1, .list > h2, .list > h3, .list > h4, .list > h5, .list > h6 { text-align: center }

	.card .title, .box .title, .box .footer-card, .card .footer-card { min-height: 0 }

	.content { margin: auto }

	.content > .icon-content { height: 96px; width: 96px }

	[class*='md-'] { width: 422px }

	.col { margin-top: 0.83em; width: 100% !important }
}

@media screen and (max-width: 320px) {
	.container { width: 320px; padding-right: 0; padding-left: 0 }

	[class*='md-'] { width: 263px }
}

@media screen and (max-width: 275px) {
	.container { width: 275px; padding-right: 0; padding-left: 0 }

	[class*='md-'] { width: 218px }
}