@charset "utf-8";

@-ms-viewport { width: device-width }

@font-face {
	font-family: 'Avenir';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/Avenir.eot');
	src: local('Avenir'), url('fonts/Avenir.woff') format('woff'), url('fonts/Avenir.ttf') format('truetype'), url('fonts/Avenir.svg') format('svg');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* HTML RESET
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	background-color: #FFFFFF;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
	color: #000000;
	cursor: default;
	font: 100%/1.5 sans-serif;
	text-rendering: optimizeLegibility
}

*, ::before, ::after {
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
		-ms-box-sizing: inherit;
		 -o-box-sizing: inherit;
			box-sizing: inherit;
	border-style: solid;
	border-width: 0
}


*:not(select) {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		-ms-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s
}

* {
	font-size: inherit;
	line-height: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0
}

::before, ::after { text-decoration: inherit; vertical-align: inherit }

html, body, table {
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
	   -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
		-ms-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
		 -o-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
			font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0
}

h1, h2, h3, h4, h5, h6, a, b, i, p, span {
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
	   -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
		-ms-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
		 -o-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
			font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1
}

abbr {
	text-transform: uppercase;
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
	   -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
		-ms-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
		 -o-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
			font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1
}

time {
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
	   -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
		-ms-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
		 -o-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
			font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0
}

pre, kbd, samp, code {
	-webkit-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
	   -moz-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
		-ms-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
		 -o-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
			font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1
}

sup, sub {
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
	   -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
		-ms-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
		 -o-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
			font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="number"],
input[type="range"], input[type="tel"], input[type="week"] {
	-webkit-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
	   -moz-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
		-ms-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
		 -o-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
			font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0
}

tbody, caption {
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
	   -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
		-ms-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
		 -o-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
			font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1
}

html, body {
	width: 100%;
	border-collapse: collapse;
	overflow: auto;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0
}

@media screen and (max-width: 480px) {
	html, body { min-width: 320px }
}

/* Small screens (default) */
html {
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		 -o-text-size-adjust: 100%;
			text-size-adjust: 100%
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
	html {
		-webkit-text-size-adjust: 112%;
		   -moz-text-size-adjust: 112%;
			-ms-text-size-adjust: 112%;
			 -o-text-size-adjust: 112%;
				text-size-adjust: 112%
	}
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
	html {
		-webkit-text-size-adjust: 112%;
		   -moz-text-size-adjust: 112%;
			-ms-text-size-adjust: 112%;
			 -o-text-size-adjust: 112%;
				text-size-adjust: 112%
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-ms-overflow-style: scrollbar;
	-moz-osx-font-smoothing: grayscale
}

body, input, select, textarea {
	color: #414f57;
	font-family: "Avenir", Helvetica, Arial, sans-serif !important;
	font-size: 1.2rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.1;
    font-style: normal;
}

body h1, body h2, body h3, body h4, body h5, body h6 { word-break: break-word }

body code { word-break: break-all; white-space: pre-line }

header p { position: relative; margin: 0 0 1.5em 0 }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0 }

header .img { width: 33em; height: 33em; }
.img { width: 20em; height: 20em; margin: 0 auto 10px; border-radius: 100% }

.image.phone {
	box-shadow: none;
	margin: 3em auto 3em auto;
	width: 20em;
    background-color: #FFFFFF;
    border-radius: 1em
}

.image.phone img {
	border-radius: 0;
	margin: 0;
	display: block;
	position: relative;
	width: 100%;
	height: 20em;
	max-width: 100%
}

.image.phone .inner, .image.phone:before, .image.phone:after {
	display: block;
	border: solid 7px #FFFFFF
}

.image.phone .inner { position: relative }

.image.phone .inner:before, .image.phone .inner:after {
	content: '';
	position: absolute;
	left: 50%
}

.image.phone .inner:before {
	top: -1.375em;
	margin-left: -1em;
	width: 2em;
	height: 0.25em;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, 0.25)
}

.image.phone .inner:after {
	bottom: -2.75em;
	margin-left: -1em;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	border: solid 2px rgba(255, 255, 255, 0.25)
}

.image.phone:before, .image.phone:after { content: " " }

.image.phone:before {
	height: 3.5em;
	border-radius: 2em 2em 0 0;
	border-bottom: 0
}

.image.phone:after {
	height: 3.5em;
	border-radius: 0 0 2em 2em;
	border-top: 0
}

.image { box-shadow: 0 0 0 4px #FFFFFF, 0 0 0 5px #E6E6E6 }

.image.phone .inner:before { background: #E6E6E6 }

.image.phone .inner:after { border-color: #E6E6E6 }

img {
	background: transparent;
	border-radius: 4px;
	margin: 1.3em auto;
	max-width: 95%;
	height: auto;
	-webkit-animation: colorize 2s cubic-bezier(0, 0, 0.78, 0.36) 1;
			animation: colorize 2s cubic-bezier(0, 0, 0.78, 0.36) 1
}

hr {
	box-sizing: content-box;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: 	 -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: 	  -ms-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: 	   -o-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: 		  linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	clear: both; 
	margin: 20px 0 20px;
	width: 100%
}

figure { margin: 1em 40px }

audio:not([controls]) { display: none; height: 0 }

audio, canvas, iframe, img, svg, video { vertical-align: middle }

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
	display: block
}

code, span {
	font-size: 90%;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
		-ms-border-radius: 8px;
		 -o-border-radius: 8px;
			border-radius: 8px
}

pre {
	overflow: auto;
	position: relative;
	background: #F5F5F5;
	color: #222222;
	border: 2px solid #E8E8E8;
	margin: 0;
	padding: 16px;
	line-height: 28px;
	font-size: 14px;
	text-align: left;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
		-ms-border-radius: 8px;
		 -o-border-radius: 8px;
			border-radius: 8px
}

span {
	color: #FFFFFF;
	background-color: #1094F6;
	border-color: #1094F6;
	white-space: pre
}

code {
	color: #212121;
	background-color: #F1F1F1;
	border-color: #E1E1E1;
	white-space: pre
}

span:nth-child(2) { border-color: #73AD21; background-color: #73AD21 }
span:nth-child(3) { border-color: #E74C3C; background-color: #E74C3C }

small { font-size: 80% }

a {
	background: transparent;
	color: #00c7c0;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	   -moz-transition: color 0.1s linear;
		-ms-transition: color 0.1s linear;
		 -o-transition: color 0.1s linear;
			transition: color 0.1s linear
}

a:focus { outline: thin dotted }

a:active, a:hover { outline: 0 }

a:active, a:focus { color: #00615e }

p, h1, h2, h3, h4, h5, h6, a { font-weight: normal; line-height: 1.3em; word-wrap: break-word }

abbr[title] { border-bottom: 1px dotted }

abbr, abbr[title], acronym { padding-bottom: 0.2em; cursor: help }

b, strong { font-weight: bold }

dfn { font-style: italic }

mark { background: #ff0; color: #000 }

sub, sup {
	font-size: 0.8em;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup { top: -0.5em }

sub { bottom: -0.25em }

button, *[role="button"], input[type], select, textarea {
	outline: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
		-ms-appearance: none;
		 -o-appearance: none;
			appearance: none;
	color: inherit;
	font: inherit;
	outline: 0 none;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent !important
}

button, *[role="button"], input[type="button"], input[type="submit"], input[type="reset"],
input[type="checkbox"], input[type="radio"], input[type="range"], select:not([size]), select[size="1"] {
	cursor: pointer;
}

*:disabled, button:disabled, *[role="button"]:disabled, shtml input[disabled], input[type="button"]:disabled, 
input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="checkbox"]:disabled, 
input[type="radio"]:disabled, input[type="range"]:disabled, select:disabled,
input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label  {
	opacity: 0.3;
	cursor: default;
	cursor: not-allowed
}

input[type="number"] { width: auto }

input[type="search"] { -webkit-appearance: textfield }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: transparent
}

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em }

legend { border: 0; padding: 0 }

textarea { min-height: 65px; resize: vertical; overflow: auto }

optgroup { font-weight: bold }

nav select {  display: none }

nav ol, nav ul { z-index: 100; list-style: none }

nav:before, nav:after {
	display: table;
	content: "";
	line-height: 0
}

nav:after { clear: both }

svg:not(:root) { overflow: hidden }

[hidden], template { display: none }

[aria-busy="true"] { cursor: progress }

[aria-controls] { cursor: pointer }

[aria-disabled] { cursor: default }

[hidden][aria-hidden="false"] {
	clip: rect(0 0 0 0);
	display: inherit;
	position: absolute
}

[hidden][aria-hidden="false"]:focus { clip: auto }

/* SELECT TEXT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-moz-selection {
	color: #4C2B03;
	text-shadow: inherit;
	background-color: #40c4ff;
	background-color: rgba(64, 196, 255, 0.4)
}

select::-moz-focusring { color: transparent; text-shadow: 0 0 0 #000 }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000 }

::selection {
	color: #4C2B03;
	text-shadow: inherit;
	background-color: #40c4ff;
	background-color: rgba(64, 196, 255, 0.4)
}

select {
	display: inline-block;
	outline: none;
	vertical-align: top;
	-webkit-transition: border 0.56s cubic-bezier(0.4, 0, 0.2, 1);
	transition: border 0.56s cubic-bezier(0.4, 0, 0.2, 1)
}

select::-ms-expand { display: none }

select::-ms-value { color: currentColor }

/* NAVBAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
	position: relative;
	display: block;
	width: 100%;
	background-color: #2196F3;
	border-bottom: 3px solid #0C7CD5;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	   -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
		-ms-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
		 -o-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
			box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
	transition: 0.3s ease;
}

.nav > ul { position: absolute; top: 0px; bottom: 0px; left: 0px; text-decoration: none; display: block; list-style-type: none }

.nav > li { padding: 1em 18px; cursor: pointer; vertical-align: baseline; display: inline-block; }

.nav > li:hover { background-color: rgba(255, 255, 255, 0.31) }

.nav > a, .drop > a {
	display: none; 
	color: #FFFFFF;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale
}

.nav > li a { color: #FFFFFF }

.drop { position: relative; color: #FFFFFF }

.drop > .nav-right { left: auto; top: 0; right: 0; margin-right: 0px }

.drop > ul {
	position: absolute;
	left: 0;
	top: 0;
	background: #FFFFFF;
	border: 3px solid #0C7CD5;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
		-ms-transform: scale(0);
		 -o-transform: scale(0);
			transform: scale(0);
	-webkit-transform-origin: 0 0;
	   -moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		 -o-transform-origin: 0 0;
			transform-origin: 0 0
}

.drop ~ .float-right { top: 3px }

.drop > ul li { display: block; width: 100% }

.drop > ul li a {
	width: 100%;
	padding: 1em 18px;
	display: inline-block;
	white-space: pre;
	box-sizing: border-box
}

.drop > ul li a:hover { background: #EBEBEB }

.drop:hover > ul {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
		-ms-transform: scale(1);
		 -o-transform: scale(1);
			transform: scale(1)
}

.drop > ul li a { color: #212121 }

/* TEXT > a = .link | p | h1 | h2 | h3 | h4 | h5 | h6 | blockquote | em | i
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p { padding: 0; margin: 0 0 1.5em 0 }

p span { color: #46AAE3 }

p a, p a:visited { line-height: inherit; }

h1, h2, h3, h4, h5, h6 { 
	font-style: normal; 
	text-rendering: optimizeLegibility;
	line-height: normal; 
	margin: 0 0 0.75em 0; 
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {	
	color: #333333; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	font-weight: inherit; 
	text-decoration: none; 
}

h1 { font-size: 4.0rem; 	line-height: 1.2; 	letter-spacing: -.1rem		}
h2 { font-size: 3.6rem; 	line-height: 1.25; 	letter-spacing: -.1rem 		}
h3 { font-size: 3.0rem; 	line-height: 1.3; 	letter-spacing: -.1rem 		}
h4 { font-size: 2.4rem; 	line-height: 1.35; 	letter-spacing: -.08rem 	}
h5 { font-size: 1.8rem; 	line-height: 1.5; 	letter-spacing: -.05rem 	}
h6 { font-size: 1.5rem; 	line-height: 1.6; 	letter-spacing: 0 			}

.link {
	background: linear-gradient(to top,rgba(40,225,189,0.8) 50%,rgba(255,255,255,0) 50%);
	background-size: 100% 200%;
	background-position: 0 10%;
	background-repeat: no-repeat;
	text-decoration: none;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale
	-webkit-transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		-ms-transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		 -o-transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1)
}

.link:active { color: inherit }

.link:visited { color: #A52A2A }

.link:hover { background-position: 0 100% }

blockquote, blockquote p {
	display: inline;
	font-size: 14px; 
	line-height: 24px; 
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #DDDDDD; 
	padding: 0 10px; 
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote cite {
	color: #555555; 
	display: block; 
	font-size: 12px;
}

blockquote cite:before { content: "- " }

em { color: #727272; font-style:normal }

em, i { font-style: italic }

/* FORM| INPUT TYPE | SELECT | TEXTAREA | LABEL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form { margin: 2em auto }

form legend {
	font-size: 2em;
	margin-bottom: 1em;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
	-webkit-justify-content: center;
	   -moz-justify-content: center;
		-ms-justify-content: center;
		 -o-justify-content: center;
			justify-content: center
}

.float-label .control {
	float: left;
	position: relative;
	width: 100%;
	padding-top: 23px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px
}

.float-label .control.small { width: 25% }

.float-label .control.med3 { width: 33.333% }

.float-label .control.medium { width: 50%; padding-left: 10px }

.float-label .control.med { width: 75%; padding-left: 10px }

.float-label .control:last-child { border: 0 }

.float-label input, .float-label textarea, .float-label button {
	display: block;
	width: 100%;
	border: 0;
	outline: 0;
}
.float-label input, .float-label button { resize: none }

.float-label .control input + label, .float-label .control textarea + label, .float-label .control select + label {
	position: absolute;
	top: 15px;
	opacity: 0;
	font-size: 14px;
	font-weight: bold;
	width: auto;
	left: 10px;
	color: #C3C3C3
}

.float-label input:valid + label, .float-label textarea:valid + label, .float-label select:valid + label { color: #2C8EFE }
.float-label input:invalid + label, .float-label textarea:invalid + label, .float-label select:invalid + label { color: #FF5722 }
.float-label input:focus + label, .float-label textarea:focus + label, .float-label select:focus + label { opacity: 1; top: 5px }
.float-label input:disabled + label, .float-label textarea:disabled + label, .float-label select:disabled + label { opacity: 1; top: 5px; color: #FF5722 }
.float-label input[value] + label, .float-label textarea[value] + label, .float-label select[value] + label { opacity: 1; top: 5px; color: #FF5722 }

select, textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"], 
input[type="password"], input[type="reset"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"], 
input[type="url"], input[type="week"] {
	height: 44px;
	padding: 10px 10px 10px 5px;
	width: 100%;
}

select, textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"], 
input[type="password"], input[type="reset"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"], 
input[type="url"], input[type="week"] {
	display: inline-block;
	border: none;
	border-radius: 2px;
	border-bottom: 1px solid #757575;
	background-color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	color: #636363;
	transition-duration: 0.3s;
	transition-timing-function: ease-out
}

select, textarea, input[type="date"]:hover, input[type="datetime"]:hover,
input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover,
input[type="number"]:hover, input[type="password"]:hover, input[type="reset"]:hover,
input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover,
input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition-duration: 0.15s;
	transition-timing-function: ease-out
}

select:focus, textarea:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus,
input[type="number"]:focus, input[type="password"]:focus, input[type="reset"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus,
input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus {
	border-width: 2px;
	border-color: #4A89DC;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	outline: none
}

select + label:required, textarea:required + label,
input[type]:required + label::after { content: " *"; }

::-webkit-input-placeholder { color: #C3C3C3 }
::-moz-placeholder { color: #C3C3C3 }
::-ms-input-placeholder { color: #C3C3C3 }
::-o-input-placeholder { color: #C3C3C3 }
:-webkit-input-placeholder { color: #C3C3C3 }
:-moz-placeholder {	color: #C3C3C3 }
:-ms-input-placeholder { color: #C3C3C3 }
:-o-input-placeholder { color: #C3C3C3 }

select::-ms-expand {display: none}
select::-moz-select-button {display: none}
select:-ms-expand {display: none}
select:-moz-select-button {display: none}

/* INPUT TYPE > CHECKBOX | RADIO | LABEL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="checkbox"] + label, input[type="radio"] + label {
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
	color: #555555;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
			transform: translate(0, 0);
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale
}

input[type="checkbox"], input[type="radio"] { position: relative; opacity: 0 }

input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	border: 2px solid #555555;
	height: 20px;
	width: 20px;
	bottom: 1px;
	border-radius: 2px;
	background: #ffffff;
	margin-left: -30px;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

input[type="checkbox"] + label:after {
	content: "";
	position: absolute;
	bottom: 6px;
	left: -23px;
	width: 6px;
	height: 13px;
	opacity: 0;
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	-webkit-transition: opacity 0.3s ease;
			transition: opacity 0.3s ease;
	-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
}

input[type="checkbox"]:focus + label:before { box-shadow: 0 0 5px #337ab7 }

input[type="checkbox"]:checked + label:before { background: #337ab7; border-color: #337ab7; }

input[type="checkbox"]:checked + label:after {
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	opacity: 1;
}

input[type="radio"] + label:before, input[type="radio"] + label:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 1px;
	border: 2px solid #555555;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #ffffff;
 	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	background-clip: padding-box;
}

input[type="radio"] + label:after {
	content: "";
	position: absolute;
	background: #337ab7;
	border: 2px solid #ffffff;
 	-webkit-transform: scale(0);
		-ms-transform: scale(0);
			transform: scale(0);
 	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

input[type="radio"]:focus + label:before { box-shadow: 0 0 5px #337ab7 }

input[type="radio"]:checked + label:before { border-color: #337ab7 }

 input[type="radio"]:checked + label:after {
 	opacity: 1;
 	-webkit-transform: scale(0.75, 0.75);
 		-ms-transform: scale(0.75, 0.75);
			transform: scale(0.75, 0.75);
}

/* PROGRESS > INPUT TYPE RANGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
progress {
	height: 5px;
	margin: 16px 8px;
	border-style: none;
	border-width: 0;
	outline-style: none;
	outline-width: 0;
	overflow: visible;
	background-color: #A9A9A9;
	-webkit-transition-duration: 0.4s;
	   -moz-transition-duration: 0.4s;
		-ms-transition-duration: 0.4s;
		 -o-transition-duration: 0.4s;
			transition-duration: 0.4s;
}

input[type="range"] { width: 100% }

input[type="range"]:focus { outline: none }

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	background: #A9A9A9;
	border-radius: 25px;
	border: 0px solid #A9A9A9;
	animate: 1s
}

input[type="range"]::-webkit-slider-thumb {
	border: 0px solid #2196F3;
	margin-top: -12px;
	height: 30px;
	width: 10px;
	border-radius: 20px;
	background: #2196F3;
	-webkit-appearance: none
}

input[type="range"]:focus::-webkit-slider-runnable-track { background: #A9A9A9 }

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 5px;
	background: #A9A9A9;
	border-radius: 25px;
	border: 0px solid #A9A9A9;
	animate: 1s
}

input[type="range"]::-moz-range-thumb {
	border: 0px solid #2196F3;
	height: 30px;
	width: 10px;
	border-radius: 20px;
	background: #2196F3
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 5px;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
	animate: 1s
}

input[type="range"]::-ms-fill-lower {
	background: #A9A9A9;
	border: 0px solid #A9A9A9;
	border-radius: 50px
}

input[type="range"]::-ms-fill-upper {
	background: #A9A9A9;
	border: 0px solid #A9A9A9;
	border-radius: 50px
}

input[type="range"]::-ms-thumb {
	border: 0px solid #2196F3;
	height: 30px;
	margin-bottom: -12px;
	margin-top: -12px;
	width: 10px;
	border-radius: 20px;
	background: #2196F3
}

input[type="range"]:focus::-ms-fill-lower { background: #A9A9A9 }

input[type="range"]:focus::-ms-fill-upper { background: #A9A9A9 }

progress::-webkit-progress-bar-value,
progress::-webkit-progress-value {
	border: 0px solid #2196F3;
	background-color: #2196F3;
}
progress::-moz-progress-bar {
	border: 0px solid #2196F3;
	background-color: #2196F3;
}
progress::-ms-fill {
	border: 0px solid #2196F3;
	background-color: #2196F3;
}

/* BUTTON
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, *[role="button"], input[type="button"], input[type="submit"] {
	color: #FFF;
	text-shadow: 0px 0px 2px #333;
	border-color: rgba(255, 255, 255, 0.34) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.43);
	background-color: #4D90FE;
	box-shadow: 0px 1px 1px #ACACAC;
	font-weight: bold;
	min-width: 120px;
	height: 44px;
	margin: 10px 0px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	word-wrap: break-word;
	position: relative;
	text-align: center;
	line-height: normal;
	overflow: hidden;
	outline: medium none;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-overflow: clip;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

button:focus, *[role="button"]:focus, input[type="button"]:focus, input[type="submit"]:focus,
button:hover, *[role="button"]:hover, input[type="button"]:hover, input[type="submit"]:hover {
	border-width: 3px;
	border-color: rgba(0, 0, 0, 0.5);
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

button:active, *[role="button"]:active, input[type="button"]:active, input[type="submit"]:active {
	border-color: #004C9C;
	background-color: #004C9C;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
	   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
		-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
		 -o-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
			box-shadow: rgba(0, 0, 0, 0.2) 0 8px 17px 0, rgba(0, 0, 0, 0.19) 0 6px 20px 0;
		filter:	progid:DXImageTransform.Microsoft.Glow(Color=#b0b0b0,Strength=10);
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#b0b0b0,Strength=10)";
	-webkit-transform:scale(0.95);
	   -moz-transform:scale(0.95);
		-ms-transform:scale(0.95);
		 -o-transform:scale(0.95);
			transform:scale(0.95)
}

button.btn-default, *[role="button"].btn-default, input[type="button"].btn-default,
input[type="submit"].btn-default { background-color: #8E8E8E }

button:active.btn-default, *[role="button"]:active.btn-default, input[type="button"]:active.btn-default,
input[type="submit"]:active.btn-default { background-color: #585858; border-color: #585858 }

.icon-md {
	font-size: 36px;
	height: 100px;
	width: 100px;
	line-height: 68px;
	color: #fff;
	margin-right: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	display: block;
	border-radius: 50%;
	-webkit-transition: 500ms;
	   -moz-transition: 500ms;
		 -o-transition: 500ms;
			transition: 500ms;
}

.media:hover .icon-md, .icon-md:hover { border-radius: 10px; background-color: rgba(0, 0, 0, 0.8) }

/* TABLE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	background: #FFFFFF;
}

td, th {
	padding: 0.75em 1.5em;
	text-align: left;
	line-height: 1.5em;
}

td.err {
	background-color: #e992b9;
	color: #fff;
	font-size: 0.75em;
	text-align: center;
	line-height: 1;
}

td.user-name { text-transform: capitalize }

th {
	background-color: #31bc86;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
}

tbody th { background-color: #2ea879; }

tbody tr:nth-child(2n-1) {
	background-color: #f5f5f5;
	transition: all .125s ease-in-out;
}

tbody tr:hover { background-color: rgba(129,208,177,.3); }

@media screen and (max-width: 600px) {

	table { border: 0 }

	table thead { display: none }

	table tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd
	}

	table td {
		display: block;
		text-align: right;
		font-size: 13px
	}

	table td:last-child { border-bottom: 0 }

	table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold
	}
}

/* LIST 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.list {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.list > h1, .list > h2, .list > h3, .list > h4, .list > h5, .list > h6, .list > p { margin: 0; font-weight: bold; padding: 16px }

	.list li {
		padding: 16px;
		border-width: 1px 0 0;
		border-style: solid;
		border-color: #dfdfdf;
		border-color: rgba(0, 0, 0, 0.11);
		word-wrap: break-word;
	}

	.list li > h1, .list li > h2, .list li > h3, .list li > h4, .list li > h5, .list li > h6 { margin: 0 }

	.list li:last-child { border-bottom-width: 1px }
		
	.list li button, .list li *[role="button"], .list li input[type="button"], .list li input[type="submit"],
	.list li input[type="reset"] {
		color: #000000;
		text-shadow: none;
		display: block;
		margin: -16px;
		padding: 16px;		
		font-family: inherit;
		font-size: inherit;
		text-align: left;
		text-transform: none;
		font-weight: normal;	
		border: 0 none;
		-wekbit-border-radius: 0;
		   -moz-border-radius: 0;
				border-radius: 0;
		background: transparent none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}

	.list li button:hover, .list li *[role="button"]:hover, .list li input[type="button"]:hover,
	.list li input[type="submit"]:hover, .list li input[type="reset"]:hover,
	.list li button:focus, .list li *[role="button"]:focus, .list li input[type="button"]:focus,
	.list li input[type="submit"]:focus, .list li input[type="reset"]:focus {
		background-color: #f2f2f2;
		background-color: rgba(0, 0, 0, 0.05);
	}

	.list li button:enabled:active, .list li button:enabled.active, .list li *[role="button"]:active,
	.list li *[role="button"].active, .list li input[type="button"]:enabled:active,
	.list li input[type="button"]:enabled.active, .list li input[type="submit"]:enabled:active,
	.list li input[type="submit"]:enabled.active, .list li input[type="reset"]:enabled:active,
	.list li input[type="reset"]:enabled.active {
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;		
		background-color: #e3e3e3;
		background-color: rgba(0, 0, 0, 0.09);
	}

/* CARD
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card, .box {
	position: relative;
	min-height: 100%;
	width: 100%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
	   -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
			box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#b8b8b8,Strength=5)";
		filter:	progid:DXImageTransform.Microsoft.Glow(Color=#b8b8b8,Strength=5);
	-webkit-transition-duration: 0.1s;
	   -moz-transition-duration: 0.1s;
		-ms-transition-duration: 0.1s;
		 -o-transition-duration: 0.1s;
			transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	   -moz-transition-timing-function: linear;
		-ms-transition-timing-function: linear;
		 -o-transition-timing-function: linear;
			transition-timing-function: linear;
	-webkit-transition-property: -webkit-box-shadow, box-shadow;
	   -moz-transition-property: -moz-box-shadow, box-shadow;
		-ms-transition-property: box-shadow;
		 -o-transition-property: box-shadow;
			transition-property: box-shadow;
}

.content {
	position: relative;
	padding: 30px 35px 30px 37px;
	width: 100%;
	min-height: 210px;
	background-color: #FFFFFF;
	border-radius: 2px;
	color: #000000;
	box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
	-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#b8b8b8,Strength=5)";
		filter:	progid:DXImageTransform.Microsoft.Glow(Color=#b8b8b8,Strength=5);
	-webkit-transition-duration: 0.1s;
	   -moz-transition-duration: 0.1s;
		-ms-transition-duration: 0.1s;
		 -o-transition-duration: 0.1s;
			transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	   -moz-transition-timing-function: linear;
		-ms-transition-timing-function: linear;
		 -o-transition-timing-function: linear;
			transition-timing-function: linear;
	-webkit-transition-property: -webkit-box-shadow, box-shadow;
	   -moz-transition-property: -moz-box-shadow, box-shadow;
		-ms-transition-property: box-shadow;
		 -o-transition-property: box-shadow;
			transition-property: box-shadow;
}

.content > .icon-content {
	float: right;
	height: 128px;
	margin-bottom: 10px;
	margin-top: 4px;
	margin-left: 25px;
	width: 128px;
}

.content > article { display: block; max-width: 90% }

.content p:last-child { margin-bottom: 4px }

.content h1 { font-size: 1.7em; font-weight: normal; line-height: 1.2em; margin-top: 0 }

.box, .card { background-color: #EEEEEE; color: #212121 }

	.card::before {
		content: "";
		background: #9E9E9E;
		opacity: 0.8;
		height: 10px;
		border-radius: 5px 5px 0 0;
		width: 95%;
		margin: 0 auto;
		top: -10px;
		left: 0;
		right: 0;
		display: block;
		position: absolute;
	}

.card .title, .box .title {
	position: relative;
	padding: 20px 10px;
	min-height: 70px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 32px;
	text-transform: uppercase;
}

.card .subtitle, .box .subtitle {
	position: relative;
	padding: 5px 10px;
	font-weight: normal;
	font-size: 24px;
}

.card .subtitle { margin: 0 0 15px border-left: 5px solid #FFFFFF }

.box .subtitle { margin: 0 0 20px }

.subtitle::after {
	content: '';
	width: 0px;
	height: 0px;
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: -1px;
	border-bottom: 7px solid #EEEEEE;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid transparent;
}

.toggle {
	position: relative;
	background: #FFFFFF;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: #FFFFFF;
	cursor: pointer;
	z-index: 10;
	float: right;
	top: 15px;
	right: 10px;
}

	.toggle:before {
		content: '';
		display: inline-block;
	}

.box .fundo-card, .card .fundo-card, 
.box .footer-card, .card .footer-card {
	width: 100%;
	min-height: 70px;
	padding-left: 10px;
	padding-right: 10px;
	word-wrap: break-word;
}

.box .footer-card, .card .footer-card { border-top: 1px solid rgba(0, 0, 0, 0.1) }

.card .fundo-card, .box .fundo-card {
	width: 100%;
	min-height: auto;
	display: table;
	margin: 0;
	vertical-align: middle;
}

.card .footer-card, .box .footer-card {
	bottom: 0;
}

#header {
	background-color: #4696e5;
	background-image: url("../img/overlay.png"), url("../img/pattern-size.svg");
	background-position: top left, center center;
	background-attachment: fixed, fixed;
	background-size: auto, cover;
	color: #d0e4f8;
	height: auto;
	min-height: 35em;
	padding: 4.5em 0 2.5em 0;

}

#footer {
	background-color: #f7f7f7;
	color: #999999;
	margin-top: 10px;
	padding: 4.5em 0 2.5em 0 ;
	color: #b0b0b0;
	text-align: center;
}

#footer input, #footer select, #footer textarea { color: #999999 }

#footer strong, #footer b { color: #828282 }

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer p { color: #828282 }

#footer code { background: rgba(144, 144, 144, 0.075); border-color: #d6d6d6 }

#footer a { color: inherit }

#footer .copyright { font-size: 0.8em }

@media screen and (max-width: 980px) {
	#footer { padding: 4em 4em 2em 4em }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
	#footer { padding: 3em 3em 1em 3em }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
	#footer { padding: 3em 1.5em 1em 1.5em }
}

/* PERSONALIZATION REFERENCES CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.separar-bottom	{ margin-bottom: 0.83em; 	}
.separar-top	{ margin-top: 0.83em; 		}
.separar-lados	{ margin: auto 0.83em; 		}

.table { display: table }
.table-cell { display: table-cell }

.flex-top {
	-webkit-align-items: flex-start;
	   -moz-align-items: flex-start;
		-ms-align-items: flex-start;
		 -o-align-items: flex-start;
			align-items: flex-start
}

.flex-meio {
	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
		 -o-align-items: center;
			align-items: center
}

.flex-bottom {
	-webkit-align-items: flex-end;
	   -moz-align-items: flex-end;
		-ms-align-items: flex-end;
		 -o-align-items: flex-end;
			align-items: flex-end
}

.flex-top > * { vertical-align: top }
.flex-meio > * { vertical-align: middle }
.flex-bottom > * { vertical-align: bottom }

.float-left 	{ float: left; 	}
.float-right 	{ float: right; 	}

.text-left {
	-webkit-justify-content: flex-start;
	   -moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		 -o-justify-content: flex-start;
			justify-content: flex-start;
	text-align: left;
}

.text-center {
	-webkit-justify-content: center;
	   -moz-justify-content: center;
		-ms-justify-content: center;
		 -o-justify-content: center;
			justify-content: center;
	text-align: center;
}

.text-right {
	-webkit-justify-content: flex-end;
	   -moz-justify-content: flex-end;
		-ms-justify-content: flex-end;
		 -o-justify-content: flex-end;
			justify-content: flex-end;
	text-align: right;
}

.text-justify	{ text-align: justify }

.maiusculo { text-transform: uppercase }

.fundo-red 			{ background-color: #F44336; border: 1px solid #F44336; color: #FFFFFF } 	.text-red 			{ color: #F44336 }
.fundo-pink 		{ background-color: #E91E63; border: 1px solid #E91E63; color: #FFFFFF } 	.text-pink 			{ color: #E91E63 }
.fundo-purble 		{ background-color: #9C27B0; border: 1px solid #9C27B0; color: #FFFFFF } 	.text-purble 		{ color: #9C27B0 }
.fundo-deep-purble	{ background-color: #673AB7; border: 1px solid #673AB7; color: #FFFFFF } 	.text-deep-purble 	{ color: #673AB7 }
.fundo-indigo 		{ background-color: #3F51B5; border: 1px solid #3F51B5; color: #FFFFFF } 	.text-indigo 		{ color: #3F51B5 }
.fundo-blue 		{ background-color: #2196F3; border: 1px solid #2196F3; color: #FFFFFF } 	.text-blue 			{ color: #2196F3 }
.fundo-blue1 		{ background-color: #156E83; border: 1px solid #156E83; color: #FFFFFF } 	.text-blue1 		{ color: #156E83 }
.fundo-blue2 		{ background-color: #135F72; border: 1px solid #135F72; color: #FFFFFF } 	.text-blue2 		{ color: #135F72 }
.fundo-blue3 		{ background-color: #0F4D5C; border: 1px solid #0F4D5C; color: #FFFFFF } 	.text-blue3 		{ color: #0f4D5C }
.fundo-cyan 		{ background-color: #00BCD4; border: 1px solid #00BCD4; color: #FFFFFF } 	.text-cyan 			{ color: #00BCD4 }
.fundo-teal 		{ background-color: #009688; border: 1px solid #009688; color: #FFFFFF } 	.text-teal 			{ color: #009688 }
.fundo-green		{ background-color: #4CAF50; border: 1px solid #4CAF50; color: #FFFFFF } 	.text-green 		{ color: #4CAF50 }
.fundo-green1 		{ background-color: #009688; border: 1px solid #009688; color: #FFFFFF } 	.text-green1 		{ color: #009688 }
.fundo-green2 		{ background-color: #00796b; border: 1px solid #00796b; color: #cfd8dc } 	.text-green2 		{ color: #00796B }
.fundo-orange 		{ background-color: #FF9800; border: 1px solid #FF9800; color: #FFFFFF } 	.text-orange 		{ color: #FF9800 }
.fundo-deep-orange	{ background-color: #FF5722; border: 1px solid #FF5722; color: #FFFFFF } 	.text-deep-orange 	{ color: #FF5722 }
.fundo-brown		{ background-color: #795548; border: 1px solid #795548; color: #FFFFFF } 	.text-brown 		{ color: #795548 }
.fundo-grey 		{ background-color: #9E9E9E; border: 1px solid #9E9E9E; color: #FFFFFF } 	.text-grey 			{ color: #9E9E9E }
.fundo-blue-grey	{ background-color: #607D8B; border: 1px solid #607D8B; color: #FFFFFF } 	.text-blue-grey 	{ color: #607D8B }
.fundo-black 		{ background-color: #3F474D; border: 1px solid #3F474D; color: #FFFFFF } 	.text-black 		{ color: #3f474D }
.fundo-cinza 		{ background-color: #9E9E9E; border: 1px solid #9E9E9E; color: #212121 } 	.text-cinza 		{ color: #9E9E9E }
.fundo-cinza1 		{ background-color: #FBFBFB; border: 1px solid #FBFBFB; color: #999999 } 	.text-cinza1 		{ color: #FBFBFB }
.fundo-branco 		{ background-color: #FFFFFF; border: 1px solid #FFFFFF; color: #212121 } 	.text-branco 		{ color: #FFFFFF }
.fundo-branco1 		{ background-color: #e6e8eb; border: 1px solid #e6e8eb; color: #212121 } 	.text-branco1 		{ color: #e6e8eb }

.background1 {
	background-color: #F7F7F7;
	background-image: -webkit-linear-gradient(270deg, #F7F7F7 0%, #e6e9e9 100%);
	background-image: 	 -moz-linear-gradient(270deg, #F7F7F7 0%, #e6e9e9 100%);
	background-image: 	  -ms-linear-gradient(270deg, #F7F7F7 0%, #e6e9e9 100%);
	background-image: 	   -o-linear-gradient(270deg, #F7F7F7 0%, #e6e9e9 100%);
	background-image: 		  linear-gradient(270deg, #F7F7F7 0%, #e6e9e9 100%);
}
