.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background: rgba(255, 255, 255, 0.8); none repeat scroll 0% 0%;
	visibility: visible;
}

.modal {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 1050;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.333);
	*border: 1px solid rgba(0, 0, 0, 0.333);
	outline: none;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
		 -o-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
			box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding-box;
		-ms-background-clip: padding-box;
		 -o-background-clip: padding-box;
			background-clip: padding-box;
	-webkit-transition-duration: 0.1s;
	   -moz-transition-duration: 0.1s;
		-ms-transition-duration: 0.1s;
		 -o-transition-duration: 0.1s;
			transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	   -moz-transition-timing-function: linear;
		-ms-transition-timing-function: linear;
		 -o-transition-timing-function: linear;
			transition-timing-function: linear;
	-webkit-transition-property: -webkit-box-shadow, box-shadow;
	   -moz-transition-property: -moz-box-shadow, box-shadow;
		-ms-transition-property: box-shadow;
		 -o-transition-property: box-shadow;
			transition-property: box-shadow;
}

.modal-header {
	position: relative;
	background-color: #E8E8E8;
	color: #212121;
	border-bottom: 1px solid #B5B5B5;
	min-height: 75px;
	width: 100%;
	line-height: 30px;
	margin: 0px;
	padding: 22px 26px;
	vertical-align: middle;
	transition: border-color 0.2s ease 0s;
}

.modal-header-title {
	position: relative;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: -0.03em;
	cursor: default;
}

.modal-body {
	position: relative;
	overflow-y: scroll;
	height: 480px;
}

.modal.in .modal-content {
    transform: translateY(0px);
}

.modal-content {
	position: relative;
    padding: 20px;
    transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transform: translateY(-50px);
}

.modal-footer {
	width: 100%;
	height: 100%;
	min-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	word-wrap: break-word;
	text-align: right;
	background-color: #F5F5F5;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	border-color: #E7E7E7;
	border-top-style: solid;
	border-width: 1px;
	color: #888888;
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	   -moz-box-shadow: inset 0 1px 0 #ffffff;
		-ms-box-shadow: inset 0 1px 0 #ffffff;
		 -o-box-shadow: inset 0 1px 0 #ffffff;
			box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
	display: table;
	line-height: 0;
	content: "";
}

.modal-footer:after {
	clear: both;
}

.modal.in {

}

.modal.in:hover {
	border-color: #66afe9;
	outline: 0;
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.modal-open {
	width: 100%;
	height: 100%;
}