#navleft {
	position: fixed;
	background: #FFFFFF;
	width: 260px;
	height: 100%;
	z-index: 999;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: -moz-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		-ms-transition: -ms-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		 -o-transition: -o-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

#navleft nav { width: 100%; height: 100% }
#navleft nav > a, #navleft nav label { padding: 20px 24px }

#navleft nav a, #navleft nav label {
	width: 100%;
	display: block;
	text-decoration: none;
	color: #525252;
	cursor: pointer;
	font-weight: 500;
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
		 -o-transition: none;
			transition: none
}

#navleft nav a:hover, #navleft nav label:hover { background: #ebebeb }

#navleft nav label:before, #navleft nav label:after {
	content: " ";
	float: right;
	margin-top: 4px;
	width: 2px;
	height: 7px;
	background: #9E9E9E;
	-webkit-transform-origin: 0 0;
	   -moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		 -o-transform-origin: 0 0;
			transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: -moz-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		-ms-transition: -ms-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		 -o-transition: -o-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1)
}

#navleft nav label:before {
	-webkit-transform: rotate(50deg);
	   -moz-transform: rotate(50deg);
		-ms-transform: rotate(50deg);
		 -o-transform: rotate(50deg);
			transform: rotate(50deg);
}

#navleft nav label:after {
	-webkit-transform: rotate(-50deg) translate(-6px, 1px);
	   -moz-transform: rotate(-50deg) translate(-6px, 1px);
		-ms-transform: rotate(-50deg) translate(-6px, 1px);
		 -o-transform: rotate(-50deg) translate(-6px, 1px);
			transform: rotate(-50deg) translate(-6px, 1px);
}

.wrap {
	-webkit-transform: scaleY(0);
	   -moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		 -o-transform: scaleY(0);
			transform: scaleY(0);
	-webkit-transform-origin: 0 0;
	   -moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		 -o-transform-origin: 0 0;
			transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: -moz-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		-ms-transition: -ms-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		 -o-transition: -o-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.wrap > a {
	padding: 0 24px 0 34px;
	height: 0;
	font-weight: bold;
	-webkit-transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		-ms-transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		 -o-transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	display: -webkit-box;
	   display: -moz-box;
		display: -ms-box;
		 display: -o-box;
			display: box;
	display: -webkit-flexbox;
	   display: -moz-flexbox;
		display: -ms-flexbox;
		 display: -o-flexbox;
			display: flexbox;
	display: -webkit-flex;
	   display: -moz-flex;
		display: -ms-flex;
		 display: -o-flex;
			display: flex;
	-webkit-box-items: center;
	   -moz-box-items: center;
		-ms-box-items: center;
		 -o-box-items: center;
			box-items: center;
	-webkit-flex-items: center;
	   -moz-flex-items: center;
		-ms-flex-items: center;
		 -o-flex-items: center;
			flex-items: center;
	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
		 -o-align-items: center;
			align-items: center;
}

.logo-area {
	width: 100%;
	height: 124px;
	border-bottom: solid 1px #EBEBEB;
	color: #525252;
	display: -webkit-box;
	   display: -moz-box;
		display: -ms-box;
		 display: -o-box;
			display: box;
	display: -webkit-flexbox;
	   display: -moz-flexbox;
		display: -ms-flexbox;
		 display: -o-flexbox;
			display: flexbox;
	display: -webkit-flex;
	   display: -moz-flex;
		display: -ms-flex;
		 display: -o-flex;
			display: flex;
	-webkit-box-items: center;
	   -moz-box-items: center;
		-ms-box-items: center;
		 -o-box-items: center;
			box-items: center;
	-webkit-flex-items: center;
	   -moz-flex-items: center;
		-ms-flex-items: center;
		 -o-flex-items: center;
			flex-items: center;
	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
		 -o-align-items: center;
			align-items: center;
	-webkit-box-pack: center;
	   -moz-box-pack: center;
		-ms-box-pack: center;
		 -o-box-pack: center;
			box-pack: center;
	-webkit-justify-content: center;
	   -moz-justify-content: center;
		-ms-justify-content: center;
		 -o-justify-content: center;
			justify-content: center;
	-webkit-flex-pack: center;
	   -moz-flex-pack: center;
		-ms-flex-pack: center;
		 -o-flex-pack: center;
			flex-pack: center
}

#responsive-nav { display: block }

#responsive-nav + label {
	display: block;
	position: relative;
	padding: 0 18px;
	width: 55px;
	font-size: 20px;
	background-color: initial;
	cursor: pointer;
	z-index: 3;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		-ms-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
		 -o-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

#responsive-nav:checked + label { color: #FFFFFF; background-color: initial }

aside#navleft {
	-webkit-transform: translateX(-100%);
	   -moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		 -o-transform: translateX(-100%);
			transform: translateX(-100%)
}

#responsive-nav:checked ~ aside#navleft {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
		-ms-transform: translateX(0);
		 -o-transform: translateX(0);
			transform: translateX(0)
}

input[id^="nav-collapsible"] { display: none }

input[id^="nav-collapsible"]:checked + label {
	-webkit-transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
		-ms-transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
		 -o-transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: #EBEBEB
}

input[id^="nav-collapsible"]:checked + label:before {
	-webkit-transform: rotate(-230deg) translate(5px, -5px);
	   -moz-transform: rotate(-230deg) translate(5px, -5px);
		-ms-transform: rotate(-230deg) translate(5px, -5px);
		 -o-transform: rotate(-230deg) translate(5px, -5px);
			transform: rotate(-230deg) translate(5px, -5px)
}

input[id^="nav-collapsible"]:checked + label:after {
	-webkit-transform: rotate(50deg) translate(5px, -2px);
	   -moz-transform: rotate(50deg) translate(5px, -2px);
		-ms-transform: rotate(50deg) translate(5px, -2px);
		 -o-transform: rotate(50deg) translate(5px, -2px);
			transform: rotate(50deg) translate(5px, -2px)
}

input[id^="nav-collapsible"]:checked ~ .wrap {
	height: auto;
	-webkit-transform: scaleY(1);
	   -moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		 -o-transform: scaleY(1);
			transform: scaleY(1)
}

input[id^="nav-collapsible"]:checked ~ .wrap a { height: 54px }

#responsive-nav + label:before, #responsive-nav:after,
#responsive-nav:checked + label:before, #responsive-nav:checked + label:after {
	display: none;
}
